@page "/"

<PageTitle>Index</PageTitle>

<b>This is new <strong>Farm Service App</strong> created by <strong>Manoj Pant</strong></b>

<h6><b>This service seperated wih 3 data tables : </b></h6>

<table class="table">
    <thead>
        <tr>
            <th>
                FarmDetails
            </th>
            <th>
                Income Details
            </th>
            <th>
                Expenses Details
            </th>
            <th>
                Crops Details
            </th>
        </tr>
    </thead>
</table>
<h5>I have created seperated blazor pages to <strong> Insert:Update:Delete</strong> operations</h5>


